/* Universal Style Rules */

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    background-color: rgb(236, 226, 226);
}

.table1heading {
    padding: 20px 0px 0px 0px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: gray;
}

.table-wrapper {
    margin: 10px 70px 70px;
    background-color: white;
    border-radius: 10px;
}

.table1 {
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    border-color: rgb(236, 226, 226);
    border-spacing: 0px;
}

.caption1 {
    caption-side: bottom;
    padding: 7px 0;
    font-size: 14px;
    font-style: italic;
    background-color: rgb(236, 226, 226);
}

div.table1 table td,
div.table1 table th {
    text-align: center;
    padding: 8px;
    border: 1px solid rgb(236, 226, 226);
    color: #6c6f78;
}

/* Color Table Headers */
div.table1 table thead th {
    color: #FFFFFF;
    background-color: #4168d4;
}

/* Color Even Rows */
div.table1 table tr:nth-child(even) {
    background-color: #F8F8F8;
}

div.table1 table thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

div.table1 table thead tr:last-child th:last-child {
    border-top-right-radius: 10px;
}

div.table1 table tfoot tr th:first-child {
    border-bottom-left-radius: 10px;
}

div.table1 table tfoot tr td:last-child {
    border-bottom-right-radius: 10px;
}

#english2 {
    color: #4168d4;
    padding: 50px 0px;
}

#geography {
    color: #4168d4;
    padding: 25px 0px;
}

#biology{
    color: #4168d4;
    padding: 25px 0px;
}

/* Second Table */

.table2heading {
    text-align: center;
    font-size: small;
    padding: 30px 0px;
}

.caption2 {
    caption-side: bottom;
    font-style: italic;
    padding: 20px 0;
    font-size: 10px;
}

div.table2 table td,
div.table2 table th {
    text-align: center;
    border: 1px solid #8fa8c7;
}

#blank {
    border: none;
}

#durability, #design, #usability, #price {
    padding-left: 10px;
    text-align: left;
    padding: 20px 50px 10px 10px;
}

#productA, #productB, #productC {
    text-align: center;
    padding: 20px 30px;
}

div.table2 table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin-left: 0px;
    margin-right: 0px;
}

.dark-blue, #price, #design, #productA, #productB, #productC {
    background-color: #bccde9;
}

/* Third Table */

.table3heading {
    text-align: center;
    font-size: small;
    padding: 30px 0px;
}

div.table3 caption{
    caption-side: bottom;
    font-style: italic;
    padding: 20px 0;
    font-size: 10px;
}

div.table3 table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin-left: 0px;
    margin-right: 0px;
}

div.table3 table td,
div.table3 table th{
    padding: 20px 0px;
    text-align: center;
    border: 1px solid #8fa8c7;
}

.img{
    width: 200px;
    aspect-ratio: 1/1;
}